* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      background-image: url('../assets/main-img.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #323232;
}


.js-nav{
    display: flex;
    justify-content: space-around;
    gap: 250px;
    
}

.nav {
    display: flex;
    justify-content: space-around;

    margin-top: 35px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.nav a {
    color: #F0F0F0;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;

}

.nav a:hover {
    color:  rgb(132, 0, 255);
    transition: 1.99ms;
    text-decoration: underline;
}


.sing-up button{
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: #000;
    background: #F0F0F0;
    
}

.sing-up button:hover {
    background: yellowgreen;
    color: black;
    border-radius: 3vw;
    transition: 0.8s;
}
 
.firstcontaner {
    margin-top: 117px;
    height: 100vh;
}



.firstcontaner h1,
h2 {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellowgreen;
    font-size: 5vw;
    margin-top: 56px;
}

.firstcontaner h2 {
    margin-left: 30vw;

}

.seccontaner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 50px;
    margin-bottom: 15.3vw;
}

.seccontaner input {
    padding: 19px 20px;
    background: transparent;
    border: 1px solid white;
    border-radius: 1.4vw;
    color: #8de30d;
    font-size: 1.2rem;
}


.seccontaner button {
    padding: 20px 29px;
    border: none;
    border-radius: 1vw;
    font-size: 1.2rem;
    background: yellowgreen;
    cursor: pointer;
    color: #000;

}

.seccontaner button:hover {
    border-radius: 1.9vw;
    background-color: #6bab0b;
    transition: 0.8s;
    color: white;
}

.cardecont {  
    padding: 2vw;
    background: rgb(130, 172, 46);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
    gap: 20px;
}


.cardes {    
    background: rgb(153, 211, 37);
    border-radius: 5%;
    border: 3px solid rgb(145, 255, 0);
    height: 100%;
}

.cardes:hover {
    border: 3.9px solid rgb(145, 255, 0);
    box-shadow: 5px 5px 7px 15px rgb(103, 133, 43);
    transition: 0.7s;
}

.cardes h3 {
    font-family: "Winky Sans", sans-serif;
    text-transform: uppercase;
    padding: 1vw 1vw;
    font-size: 1.9rem;
    margin: 2vw 3vw;
    margin-top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: text;
}

.para {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 40px;
    overflow: hidden;
    font-size: 1.1rem;
    color: #3e4239;
    width: 393px;
    height: 192px;
    overflow: hidden;
    padding: 20px;
}

.cardes img {
    /* we use this max-max for avoid the overflow of img */
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1vw;
    display: flex;
}

.RatingStars img {
    background-color: transparent;
    width: 125px;
    padding: 19px;
    background-color: #6bab0b;
}

.Location-Tag {
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 5vw;
    color: rgb(43, 42, 42);
    font-size: 1.0rem;
    font-weight: 400;
    font-weight: 500;
    margin: 20px;
    font-size: 20px;
}


.fav-img{
    display: flex;
    justify-content: end;
    margin: 7.9px;
    padding: 2px;
    margin-right: 19px;
    cursor: pointer;
    position: relative;
}
.fav-img-active{
    background: crimson;
}
.fav-img:hover{
    .fav-text{
        text-transform: uppercase;
        opacity: 1;
        transform: translateY(-10px);
        transition: 0.69s;
    }
}
.fav-text{
    position: absolute;
    bottom:  21px;
    font-family: "Winky Sans", sans-serif;
    color: #3e4239;
    font-size: 15px;
    font-weight: 590;
    opacity: 0;
}


.seclastfooter {
    background: yellowgreen;
}

.footbtn {
    font-family: "Winky Rough", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: 45px;
}


.date {
    margin: 5px;
    padding: 3px;
    color: black;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
}

.seclastfooter p {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    margin: 1vw 2vw;
    color: #888;
    border-radius: 5vw;
    background: #000;

}
.mobile-png{
    display: none;
    
}


@media (max-width: 768px) {
    .js-nav{
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    .js-nav.show{
        display: flex;
        
    }
    
    
    .mobile-png{
        display: flex;
        justify-content: end;
       cursor: pointer;
       padding: 20px;
    }
}

@media (max-width: 672px) {    
        .firstcontaner h1, .firstcontaner h2 {
            font-size: 2.5rem;
            margin: 0;
        }
        
        .nav a, .seccontaner button, .footbtn a {
            font-size: medium;
        }
       
      
        .sing-up button{
            justify-content: flex-end;
        }
        .seccontaner{
            margin: 0;
            margin-bottom: 0;
        }

       
    }

    @media (max-width: 450px) {
        .seccontaner input{
            padding: 22px;
        }
        .seccontaner{
            margin: 0;
            margin-bottom: 0
        }
        .cardecont{
            width: 119vw;
        }
    
        .firstcontaner{
            margin: 0;
        }
        
    }
    
.text{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #5e5350;    
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
}

.footer{
    background: rgb(102, 153, 25);
}


.footer-heder{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-right: 15%;
   
}

.footer-media{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
    margin-bottom: 30px;
}

.footer-media img{
    height: 45px;
    cursor: pointer;
}

